h1 {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 50px;
	color: darkorange;
}

h2 {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 30px;
	color: darkorange;
}
h3 {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 30px;
	color: darkorange;
}