        *{
            margin: 0;
            padding: 5px 5px;
            border: 0;
            vertical-align: baseline;
        }
        @font-face{
            font-family: Centipede;
            src: url("Fuente/centipede.ttf") format('truetype');
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            flex-wrap: wrap;
        }
        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        header h1{
           font-family: Centipede, sans-serif; 
           letter-spacing: 10px;
           font-size: 35px;
           text-align: center;
        }
        header h2{
            text-align: center;
            font-size: 25px;
        }
        header h3{
           font-size: 30px;
           text-align: center;   
        }
        header h4,h5,p{
            padding: 20px;
            font-size: 20px;
        }
        nav {
            background-color: #444;
            padding: 10px;
            text-align: center;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            margin: 0 5px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        nav a:hover {
            background-color: #666;
        }
        section {
            padding-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 200px;
            display: flex;
        }
        section.active {
            display: block;
        }
        footer {
            background-color: #333;
            color: #fff;
            padding: 0px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
            line-height: 0px;
            flex-wrap: wrap;
        }

        .copyright {
            font-weight: bold;
        }

        .disclaimer {
            font-style: italic;
            font-size: smaller;
        }

        .PaginaPrincipal {
            display: flex;
            align-items: center;
        }
        .imagen{
            width: 50%;
            height: 50%;
            margin-right: 100px;
            margin-left: 20px;
            margin-bottom: 20px; 
        }
          .logo{
            border-radius: 20px;
        }
        .texto{
            left: 10px;
        }
        #menu a{
            font-size: 20px;
        }
        .submenu {
            background-color: #444;
            color: #fff;
            position: fixed;
            top: 590px;
            right: 0;
            padding: 10px;
            display: none;
        }
        .submenu ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .submenu ul li {
            margin-bottom: 5px;
        }
        .submenu ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 20px;
        }
        .recompensas-boton {
            background-color: #E6B739;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            text-decoration: none;
            cursor: pointer;
        }
        .recompensas-boton:hover {
            background-color: #0056b3;
        }
        #Descripcion h2 {
            font-family: Centipede, sans-serif;
            letter-spacing: 10px;
            font-size: 30px;
        }
        #Historia h2 {
            font-family: Centipede, sans-serif;
            letter-spacing: 10px;
            font-size: 30px;
        }
        #Gameplay h2 {
            font-family: Centipede, sans-serif;
            letter-spacing: 10px;
            text-align: center;  
            font-size: 30px; 
        }

        .VideoGameplay{
            
            justify-content:space-around;
            border: 5px solid black;
        }   

        #Objetivo h2 {
            font-family: Centipede, sans-serif;
            letter-spacing: 10px;
            font-size: 30px;
        }
        #Objetivo h3 {
            font-family: Centipede, sans-serif;
            letter-spacing: 7px;
        }
        #Equipo h2 {
            font-family: Centipede, sans-serif;
            letter-spacing: 10px;
            font-size: 30px;
        }
        .TopDonadores h2, h3, h4{
            text-align: center;
        }
        #Comentarios {
            background-color: #f5f5f5; 
            padding: 20px; 
            border-radius: 8px; 
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        }
        #contenedor-comentarios {
            margin-bottom: 20px; 
        }
        #Comentarios h3 {
            color: #333;
            font-size: 30px; 
            margin-bottom: 10px; 
        }
        #SeccionComentarios {
            font-family: Arial, sans-serif; 
        }
        #SeccionComentarios label {
            display: block; 
            font-weight: bold; 
            margin-bottom: 5px;
            margin-top: 50px;
            font-size: 30px; 
        }
        #SeccionComentarios textarea {
            width: 100%; 
            padding: 8px; 
            margin-bottom: 50px; 
            border: 1px solid #ccc; 
            border-radius: 5px;
        }
        #SeccionComentarios button {
            background-color: #E6B739;
            color: #fff; 
            border: none; 
            padding: 10px 20px; 
            border-radius: 5px; 
            cursor: pointer; 
            margin-bottom: 200px; 
            transition: background-color 0.3s; 
            font-size: 30px; 
        }
        #Equipo h3{
            font-size: 20px;
        }
        @media screen and (max-width: 600px)
        {
            nav, section, footer{
                min-width: 250px;
                margin-bottom: 0px;
            }
            section {
                padding-top: 60px;
            }
            .imagen{
                max-width: 25%;
                height: 25%;
            }
            header{
                padding: 10px;
                height: 40px;
            }
            .submenu {
                top: 690px;
            }
        }
  
