        *{
            padding: 0;
            border: 0;
            vertical-align: baseline;
            box-sizing: border-box;
        }
        @import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
        
        @font-face{
            font-family: Centipede;
            src: url("Fuente/centipede.ttf") format('truetype');
        }

        body {
            font-family: "Jersey 10", sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
            position: relative;
            color: white;
            background-color: #333;
            background-image: url("Imagen/fondociempies.jpg");
            background-attachment: fixed;
            background-position: center;
        }   
        header {
            background-color: #193C34;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        header h1{
           font-family: Centipede, sans-serif; 
           letter-spacing: 10px;
           font-size: 45px;
           text-align: center;
           margin: 10px;
        }
        header h2{
            text-align: center;
            font-size: 35px;
            margin: 10px;
        }
        header h3{
           font-size: 40px;
           text-align: center;   
           margin: 10px;
        }
        header h4,h5,p{
            padding: 20px;
            font-size: 30px;
            text-align: center; 
            margin: 10px;
        }
        nav {
            background-color: #444;
            padding: 10px;
            text-align: center;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            margin: 0 5px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        nav a:hover {
            background-color: #666;
        }
        section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 60px;
        }

        section.active{
            display: block;
        }

        footer {
            background-color: black;
            color: #fff;
            padding: 10px;
            text-align: center;
            bottom: 0;
            width: 100%;
        }

        .copyright {
            font-weight: bold;
        }

        .disclaimer {
            font-style: italic;
            font-size: smaller;
        }

        .PaginaPrincipal {
            display: flex;
            align-items: center;
        }
        .imagen{
            width: 50%;
            height: 50%;
            margin-right: 100px;
            margin-left: 20px;
            margin-bottom: 20px;
            border-radius: 20px;
            filter: drop-shadow(0px 2px 10px black);
        }
       .imgciempies{
            width: 50%;
            height: 50%;
            border-radius: 20px;
            filter: drop-shadow(0px 2px 10px black);
        }
       .ciempiesreglas{
            width: 20%;
            height: 20%;
            border-radius: 20px;
            filter: drop-shadow(0px 2px 10px black);
        }
          .logo{
            border-radius: 20px;
            filter: drop-shadow(0px 2px 10px black);
        }
        .texto{
            left: 10px;
        }
        .cajamiembros{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            border-radius: 20px;

        }
        .cajaindividual{
            width: 250px;
            height: auto;
            margin-bottom: 120px;
            background-color: rgba(25, 60, 52, 0.5);
        }
        .cajarecompensas{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .cajaindividualrec{
            width: 250px;
            height: auto;
            margin-bottom: 100px;
            border-width: 3px;
        }
        #menu a{
            font-size: 20px;
        }
        .submenu {
            background-color: #444;
            color: #fff;
            position: fixed;
            top: 50%;
            right: 0;
            padding: 10px;
            display: none;
        }
        .submenu ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .submenu ul li {
            margin-bottom: 5px;
        }
        .submenu ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 20px;
        }
        .recompensas-boton {
            background-color: #E6B739;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            text-decoration: none;
            cursor: pointer;
            margin: 10px;
        }
        .recompensas-boton:hover {
            background-color: #0056b3;
        }
        .juego-boton {
            background-color: #79C1FC;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            text-decoration: none;
            cursor: pointer;
            margin: 10px;
        }
        .juego-boton:hover {
            background-color: #0056b3;
        }
        .Twitter-boton {
            background-color: #000000;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            text-decoration: none;
            cursor: pointer;
            margin: 10px;
        }
        .Twitter-boton:hover {
            background-color: #0056b3;
        }
        .Instagram-boton {
            background-color: #FF7DEB;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            text-decoration: none;
            cursor: pointer;
            margin: 10px;
        }
        .Instagram-boton:hover {
            background-color: #0056b3;
        }

        .Youtube-boton {
            background-color: #bf0000;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            text-decoration: none;
            cursor: pointer;
            margin: 10px;
        }
        .Youtube-boton:hover {
            background-color: #0056b3;
        }
          #CancionOriginal {
            background-color: rgba(25, 60, 52, 0.5);
          }

          #Historia {
            background-color: rgba(25, 60, 52, 0.5);
          }

        #CancionOriginal h2 {
            font-family: Centipede, sans-serif;
            letter-spacing: 10px;
            font-size: 30px;
            align-content: center;
        }
        #VideoPromocional h2 {
            font-family: Centipede, sans-serif;
            letter-spacing: 10px;
            font-size: 30px;
            text-align: center;
        }    
        #Descripcion h2 {
            font-family: Centipede, sans-serif;
            letter-spacing: 10px;
            font-size: 30px;
            text-align: center;
        }
       
        #Historia h2 {
            font-family: Centipede, sans-serif;
            letter-spacing: 10px;
            font-size: 30px;
            text-align: center;
        }
        
        #Gameplay h2 {
            font-family: Centipede, sans-serif;
            letter-spacing: 10px;
            text-align: center;  
            font-size: 30px; 
        }
        
        #Equipo p {
            text-align: center;
        }

        #Pregunta1 h2 {
            font-size: 35px;
            text-align: center;
        }  

        #Pregunta2 h2 {
            font-size: 35px;
            text-align: center;
        }  

        #Pregunta3 h2 {
            font-size: 35px;
            text-align: center;
        }  

        #Pregunta4 h2 {
            font-size: 35px;
            text-align: center;
        }    

        #enlace-donaciones {
            margin-top: 20px;
        }

        .VideoGameplay {
            
            justify-content:space-around;
            align-content: center;
            display: flex;
        }

        .VideoPromocional {
            
            justify-content:space-around;
            align-content: center;
            display: flex;
        }    

        .CancionOriginal {
            
            justify-content:space-around;
            align-content: center;
            display: flex;
        }     

        .Recompensa h2 {
            font-size: 35px;
            text-align: center;
        } 

        #Objetivo h2 {
            font-family: Centipede, sans-serif;
            letter-spacing: 10px;
            font-size: 30px;
            text-align: center;
        }
        #Objetivo h3 {
            font-family: Centipede, sans-serif;
            letter-spacing: 7px;
            text-align: center;
        }
        #Equipo h2 {
            font-family: Centipede, sans-serif;
            letter-spacing: 10px;
            font-size: 30px;
            text-align: center;
        }
        #Equipo h4 {
            font-size: 25px;
        }
        .TopDonadores h2, h3, h4{
            text-align: center;
        }
        #Equipo h3{
            font-size: 20px;
        }
        @media screen and (max-width: 300px)
        {
            nav a {
                font-size: 14px;
            }
            header h1 {
                font-size: 20px;
            }
            section {
                padding: 10px;
            }
            footer {
                padding: 5px;
            }
            .imagen{
                max-width: 100%;
                height: auto;
                margin: 0 auto;
            }
            header{
                padding: 10px;
                height: 40px;
            }
            .submenu {
                top: 90%;
            }
        }
  
